{% extends "KwejkLayoutBundle::layout.html.twig" %}

{% block title %}{{ mem.title }}{% endblock %}

{% block body %}
<h1>{{ block('title') }}</h1>

        <div>
        <a href="{{path('kwejk_mems_show', {'slug':mem.slug})}}">
            <p>{{ mem.title }}</p>
            <img src="{{asset ('uploads/mems/' ~ mem.imageName)}}" alt="{{mem.title}}">
        </a>
        <p>Dodany przez {{mem.CreatedBy}}, dnia {{mem.createAt|date('Y-m-d H:i:s')}}</p>
        <h3>Komentarze ({{mem.comments|length }})</h3>
        {% for comment in mem.comments %}
            <p id="comment-{{ comment.id }}">
                {{comment.commment}}
                <small>Dodano przez {{comment.createdBy }} dnia {{comment.commentedAt|date('Y-m-d H:i:s')}}</small>
        {% endfor %}
        </div>
            
{% endblock %}
